{% extends 'base.html' %}
                    <header>
                        <nav>
                            <li> <a href="{% url 'home' %}"> Main page</a></li>
                    <li> <a href="{% url 'logout' %}">Logout</a></li>
                    <li> <a href="{% url 'create_account' %}">Create new Expense Category</a></li>

                        </nav>
                    </header>

{% block content %}
  <main>
    <h1>My Categories</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of receipts</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
          <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.receipts.all|length }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock content %}
